@import
	url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Open+Sans);

html {
	background: url(images/bg.jpg) no-repeat #000;
	background-position: top;
	background-attachment: fixed;
}

body{
	margin: 0px auto;
	text-align: center;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}

.navbar {
	background: #f4f4f4;
	width: 100%;
	border: 1.5px solid #c3c3c3;
	border-top: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.5);
}

.navbar img {
	width: 100px;
	height: 100px;
	margin-left: -50px;
	position: absolute;
}

.menu{
	width: 100%;
	margin-left: 20%;
}

.align_nav_r, .align_nav_l {
	display: inline-block;
}

.align_nav_l {
	margin-right: 44px;
}

.align_nav_r {
	margin-left: 50px;
}

.navbar button {
	background: #f4f4f4;
	width: 100px;
	height: 50px;
	border: 0px;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	margin-left: -5px;
	font-weight: bold;
	outline: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	transition: background 700ms, box-shadow 700ms, color 700ms;
}

.navbar button:hover {
	background: #8484ff;
	box-shadow: inset 0 1px 20px rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
}

.sname {
	margin-top: 100px;
	margin-bottom: 100px;
}

.sname a {
	font-weight: bold;
	font-size: 4em;
	color: #000;
}

.sname a:hover{
	text-decoration: none;
}

.sname p {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), #0c0c0c,rgba(0, 0, 0, 0));
	width: 50%;
	margin-left: 25%;
	color: #fff;
	padding: 5px;
}

.main {
	background: #f4f4f4;
	width: 100%;
	border-radius: 4px;
	border: 1.5px solid #c3c3c3;
	margin-bottom: 50px;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.news, .sidebox {
	border: 0px;
	margin: 20px;
	float: left;
}

.news {
	width: 70%;
}

.sidebox {
	width: 20%;
}

.fail {
	background: rgba(255, 0, 0, 0.5);
	color: #fff;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.flexslider {
	overflow: hidden;
}

.announce, .box {
	text-align: left;
}

.announce .news_div {
	background: linear-gradient(to right, #f4f4f4, rgba(0, 0, 0, 0.5),#f4f4f4);
	height: 1px;
	margin-left: 100px;
	margin-right: 100px;
}

.announce img {
	width: 99%;
	height: 300px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.box input[type='text'], .box input[type='password'] {
	background: #dbdbdb;
	width: 99%;
	height: 25px;
	border: 1px solid #f3f3f3;
	outline: none;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	transition: box-shadow 500ms;
}

.box input[type='text']:focus, .box input[type='password']:focus, .box input[type='text']:hover,
	.box input[type='password']:hover {
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
}

.box input[type='submit'], .box button {
	background: #dbdbdb;
	width: 100%;
	height: 30px;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: 1px solid #f3f3f3;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	transition: background 500ms, color 500ms;
}

.box input[type='submit']:hover, .box button:hover {
	background: #8484ff;
	color: #fff;
	cursor: pointer;
}

.box .on_players_bar {
	background: #272727;
	height: 20px;
	border-radius: 2px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.box .on_players_bar:before {
	height: 20px;
	display: block;
	content: "";
	float: left;
	background-color: #8484ff;
	background-repeat: repeat-x;
}

.box .on_players {
	width: 100%;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

.box .on_players a {
	color: #6666ff;
	font-weight: bold;
}

.box .realmlist {
	text-align: center;
}

.result {
	background: #dbdbdb;
	width: 100px;
	height: 30px;
	margin-top: 20px;
	margin-right: 30px;
	padding-top: 5px;
	display: inline-block;
	transition: box-shadow 500ms;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.result:hover {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.result a {
	color: #fff;
	text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);;
	text-decoration: none;
}

.character {
	text-align: left;
}

.class_img {
	width: 75px;
	height: 80px;
	border-radius: 200px;
	zoom: 1px;
	position: absolute;
	margin-left: -128px;
	margin-top: 17px;
}

.char_name {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	margin-top: 50px;
	margin-left: 100px;
}

.char_armor, .char_status {
	width: 49%;
	margin-top: 50px;
	float: left;
}

.armory_items_left, .char_preview, .armory_items_right {
	float: left;
	display: inline;
}

.armory_item {
	width: 45px;
	height: 45px;
}

.char_preview {
	width: 50%;
	margin-left: 35px;
}

.char_preview .armory_item {
	margin-left: 2px;
}

.armory_items_left, .armory_items_right {
	width: 10%;
}

.shop {
	width: 100%;
	margin-top: 50px;
}

.item {
	width: 19%;
	display: inline-block;
	margin: 10px;
	border: 1px solid #dbdbdb;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
}

.item input[type='submit'] {
	background: #6666ff;
	width: 100%;
	height: 30px;
	font-weight: bold;
	font-size: 1em;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	transition: background 500ms, color 500ms, box-shadow 500ms;
}

.item input[type='submit']:hover {
	background: #9999ff;
	color: #fff;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.clear {
	clear: both;
}

.footer {
	background: #f4f4f4;
	border: 1.5px solid #c3c3c3;
	border-bottom: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 10px 0 0px 0;
	box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.5);
}

.user {
	font-weight: bold;
	color: #31698a;
}

.chat {
	height: 200px;
	overflow: auto;
}

.div_chat {
	background: linear-gradient(to right, #f4f4f4, #31698a, #f4f4f4);
	height: 1px;
	margin: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.acc_opt {
	background: none;
	width: 48%;
	height: 60px;
	border: 1px solid #525a63;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	margin: 10px 10px 10px 0;
	text-align: left;
	float: left;
	box-shadow: inset 0 0 10px rgba(200, 200, 200, 0.3);
	transition: background 700ms;
}

.acc_opt:hover {
	background: rgba(100, 100, 100, 0.4);
	cursor: pointer;
}

.acc_opt img {
	height: 60px;
	vertical-align: middle;
	margin-right: 10px;
}

input[type='text'], input[type='password'], input[type='search'] {
	background: #dbdbdb;
	width: 200px;
	height: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: 1px solid #f3f3f3;
	outline: none;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	transition: box-shadow 500ms;
}

input[type='text']:hover, input[type='password']:hover, input[type='search']:hover
	{
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
}

input[type='submit'] {
	background: #6666ff;
	width: 100px;
	height: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	transition: background 500ms, color 500ms, box-shadow 500ms;
}

input[type='submit']:hover {
	background: #9999ff;
	color: #fff;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

@media only screen and (max-width: 75em) and (min-width: 60em){
	.menu{
		width: 100%;
		margin-left: 14%;
	}
}

@media only screen and (max-width: 60em) and (min-width: 40em){
	.news {
		width: 95%;
	}
}

@media only screen and (max-width: 40em) and (min-width: 1em){
	.news {
		width: 90%;
	}
}