/* CPanel */
body {
	background: #f5f5f5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px auto;
}

a{
	color: #fff;
}

a:hover{
	color: #fff;
	text-decoration: none;
}

#cpanel {
	background: #292f2f;
}

#menu {
	float: left;
}

.welcome {
	background: #376072;
	height: 35px;
	padding-top: 15px;
	text-align: center;
}

.welcome_txt {
	font-size: 15px;
	padding-top: 15px;
	color: #fff;
}

#menu button {
	background: #1e1f21;
	width: 100%;
	height: 40px;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #242527;
	text-align: left;
	outline: none;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
	transition: background 800ms, padding 800ms;
}

#menu button:hover {
	background: black;
	width: 100%;
	height: 40px;
	color: #fff;
	padding-left: 10%;
	cursor: pointer;
}

#content {
	background: #f5f5f5;
	min-height: 100vh;
	float: left;
	color: #b7b7b7;
}

.page_title {
	background: #fff;
	height: 38px;
	padding-top: 12px;
	text-align: center;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.page_title_txt {
	font-size: 22px;
	color: #888;
}

.page_title_txt:hover {
	color: #888;
}

.content {
	width: 96%;
	text-align: center;
	padding: 2%;
}

.content_b {
	background: #fff;
	margin-bottom: 2%;
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 10px;
}

.box {
	width: 30%;
	float: left;
	margin-left: 2%;
	text-align: left;
}

.box_title {
	text-align: center
}

#content_right, #content_left {
	width: 50%;
	float: left;
}

.content_s {
	background: #fff;
	margin-bottom: 2%;
	margin-left: 2%;
	text-align: left;
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 10px;
}

.content_s_l {
	background: #fff;
	margin-bottom: 2%;
	text-align: left;
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 10px;
}

.box2 {
	width: 50%;
	min-height: 80px;
	max-height: 100%;
	float: left;
}

#content input[type=text], #content textarea {
	background: #f9f9f9;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #f1f1f1;
	outline: none;
	transition: box-shadow 800ms;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#content input[type=text] {
	height: 30px;
}

#content input[type=text]:hover, #content textarea:hover, #content input[type=text]:focus,
	#content textarea:focus {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

#content button, #content input[type=submit] {
	background: #53b8f0;
	width: 100px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #53b8f0;
	color: #fff;
	outline: none;
	transition: background 800ms;
}

#content button:hover, #content input[type=submit]:hover {
	background: #0473fe;
	cursor: pointer;
}

h3 {
	margin-top: -2px;
}

img {
	margin-right: 10px;
	vertical-align: middle;
}

.clear {
	clear: both;
}

.separator {
	background: #dddddd;
	height: 1px;
}