{literal}
    <link rel="stylesheet" type="text/css" href="style/graph.css" />
	<style>
		input#f-product1:checked ~ .graph-container>li:nth-child(1) .bar-inner { height: {/literal}{$views_4days_ago}{literal}%; bottom: 0; }
		input#f-product1:checked ~ .graph-container>li:nth-child(2) .bar-inner { height: {/literal}{$views_3days_ago}{literal}%; bottom: 0; }
		input#f-product1:checked ~ .graph-container>li:nth-child(3) .bar-inner { height: {/literal}{$views_2days_ago}{literal}%; bottom: 0; }
		input#f-product1:checked ~ .graph-container>li:nth-child(4) .bar-inner { height: {/literal}{$views_yesterday}{literal}%; bottom: 0; }
		input#f-product1:checked ~ .graph-container>li:nth-child(5) .bar-inner { height: {/literal}{$views_today}{literal}%; bottom: 0; }
	</style>
{/literal}
<div class="content_b">
        <div class="uk-height-1-1">
            <section class="main">
				<span class="button-label">Size:</span>
                <!-- <input type="radio" name="resize-graph" id="graph-small" /><label for="graph-small">Small</label>  --> 
                <input type="radio" name="resize-graph" id="graph-normal" checked="checked" /><label for="graph-normal">Normal</label>
               	<!-- <input type="radio" name="resize-graph" id="graph-large" /><label for="graph-large">Large</label>  --> 

				<span class="button-label">Color:</span>
                <input type="radio" name="paint-graph" id="graph-blue" checked="checked" /><label for="graph-blue">Blue</label>
               	<input type="radio" name="paint-graph" id="graph-green" /><label for="graph-green">Green</label>
               	<input type="radio" name="paint-graph" id="graph-rainbow" /><label for="graph-rainbow">Rainbow</label>

				<span class="button-label">View:</span>
				<!-- <input type="radio" name="fill-graph" id="f-none" /><label for="f-none">None</label>  --> 
               	<input type="radio" name="fill-graph" id="f-product1" checked="checked" /><label for="f-product1">5 Days</label>
               	<input type="radio" name="fill-graph" id="f-product2" /><label for="f-product2">10 days</label>
               	<input type="radio" name="fill-graph" id="f-product3" /><label for="f-product3">15 days</label>

                <ul class="graph-container">
                    <li>
                        <span>4 days ago</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">25</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>3 days ago</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">50</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>2 days ago</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">75</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>Yesterday</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">100</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>Today</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">50</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="graph-marker-container">
                            <li style="bottom:25%;"><span>25 People</span></li>
                            <li style="bottom:50%;"><span>50 People</span></li>
                            <li style="bottom:75%;"><span>75 People</span></li>
                            <li style="bottom:100%;"><span>100 People</span></li>
                        </ul>
                    </li>
                </ul>

            </section>

        </div>
        <div class="clear"></div>
</div>