								</main>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-footer tm-block">
				<div class="uk-container uk-container-center">
					<footer class="uk-margin-large-top uk-text-center">
						{foreach from=$flag key=key item=item}
							<a href="?lang={$item}"><img alt="{$item|upper}" src="image/{$item}.png"></a>
						{/foreach}
						<div class="uk-panel widget_text">{$powered} <a href="http://phentom.net" target="_blank">Phentom</a> 2014</div>
						<a class="tm-totop-scroller" data-uk-smooth-scroll="" href="#"></a>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
