<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PhentomCMS - Install</title>
		<link rel="stylesheet" href="../core/ui/css/install.css" />
        <script src="../core/ui/js/jquery.min.js"></script>
        <script src="../core/ui/js/uikit.min.js"></script>
	</head>
	<body class="uk-container uk-container-center">
		<div class="tm-page">
			<div class="uk-container uk-container-center">
				<div id="tm-top-a" class="tm-block tm-block-primary uk-animation-fade">
					<section class="tm-top-a uk-grid" data-uk-grid-match data-uk-grid-margin="">
						<div class="uk-width-1-1">
							<div class="uk-panel widget_text">
								<div class="uk-grid" data-uk-grid-margin="">
									<div class="uk-width-medium-1-4 uk-width-large-1-5 uk-text-center">
										<img src="image/logo-white.png" alt="Phentom CMS" title="Get UIkit" width="180" height="180">
									</div>
									<div class="uk-width-medium-3-4 uk-width-large-4-5 uk-text-center-small">
										<h3 class="uk-panel-title">{$welcome}!</h3>
										<p>
											{$welcome_txt}
										</p>
										<p>
											{$welcome_np}
										</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div id="tm-main" class="tm-block tm-block-divider tm-block-default uk-animation-fade">
					<div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
						<div class="tm-main uk-width-medium-1-1">
							<main class="tm-content">